
.h1{
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.778);
    border-radius: 4%;
    
    }
    nav{
        background-image: linear-gradient(to right, #000000af, #00000063);
        padding-bottom: 5px;
       
    }
    a{
        color: white;
        font-size: 20px;
        padding-right: 30px;
        padding-bottom: 5px;
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
    }
    .mr{
        background-color: rgba(51, 138, 153, 0.622);
        margin: 0px;
        padding-top: 15px;
        padding-bottom: 10px;
        padding-left: 10px;
        border-radius: 4%;
    }
    header{
        width: 1200px;
        max-width: 100vw;
        min-width: 300px;
        margin: auto;
       
    }
    main{
        width: 1200px;
        max-width: 100vw;
        min-width: 300px;
        margin: auto;
    }
    body{
        background-image:linear-gradient(to left, rgb(0, 153, 255), rgba(0, 128, 0, 0.486));
    }